<!DOCTYPE html>
<html lang="zh">
<head>
    <!--编码格式UTF-8-->
    <meta charset="UTF-8">

    <!--favicon.ico-->
    <link rel="icon" href="/images/favicon.ico" mce_href="/images/favicon.ico" type="image/x-icon">

    <link rel="shortcut icon" href="/images/favicon.ico" mce_href="/images/favicon.ico" type="image/x-icon">

    <!-- latest Angular javascript -->
    <script src="http://cdn.bootcss.com/angular.js/1.4.2/angular.min.js"></script>

    <!-- animate -->
    <script src="http://cdn.bootcss.com/angular.js/1.4.2/angular-animate.min.js"></script>

    <!--file upload -->
    <script src="/js/libs/ng-file-upload.js"></script>

    <!--bootstrap css-->
    <link href="http://cdn.bootcss.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <!--jquery-->
    <script src="http://cdn.bootcss.com/jquery/2.0.3/jquery.min.js"></script>

    <!--bootstrap js-->
    <script src="http://cdn.bootcss.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <!--bootstrap css-->
    <link href="/css/barrage.css" rel="stylesheet">

    <!--barrage-->
    <script src="/js/module/barrage.js"></script>
    <!--barrage-->
    <script src="/js/controller/barrage.js"></script>

    <title>弹幕文件</title>
</head>
<body>
<div style="width: 80%;margin: auto">
    <nav class="navbar navbar-inverse .navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">弹幕文件</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
            </ul>
        </div>
    </nav>
    <div ng-app="barrageFileApp" ng-controller="BarrageFileController">
        <form role="form">
            <div class="input-group">
                <span class="input-group-addon">影片ID</span>
                <input type="text" class="form-control" placeholder="Twitterhandle" ng-model="movieId">
                <span class="input-group-addon">平台ID</span>
                <input type="text" class="form-control" placeholder="Twitterhandle" ng-model="platformId">
            </div>
        </form>
        <div>
            <label class="checkbox-inline" ng-repeat="t in barrageTypes">
                <input type="radio" name="optionsRadiosinline" id="optionsRadios{{$index}}"
                       ng-model="barrageType" ng-value="t.code" ng-checked="$index ==0?'true':'false'">{{t.name}}
            </label>
        </div>
        请选择一个文件:
        <div class="button" ngf-select="upload($files)" ngf-multiple="true">选择文件</div>
        文件详情:
        <ul>
            <li ng-repeat="f in files" style="font-size: 12px">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
        </ul>
        处理控制台:
        <pre>{{log}}</pre>
    </div>
</div>
</body>
</html>