<!DOCTYPE html>
<html>
<head>
    <!--编码格式UTF-8-->
    <meta charset="UTF-8">

    <!--favicon.ico-->
    <link rel="icon" href="/images/favicon.ico" mce_href="/images/favicon.ico" type="image/x-icon">

    <link rel="shortcut icon" href="/images/favicon.ico" mce_href="/images/favicon.ico" type="image/x-icon">

    <!-- latest Angular javascript -->
    <script src="//cdn.bootcss.com/angular.js/1.4.2/angular.min.js"></script>

    <!-- animate -->
    <script src="//cdn.bootcss.com/angular.js/1.4.2/angular-animate.min.js"></script>

    <!--bootstrap css-->
    <link href="//cdn.bootcss.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <!--jquery-->
    <script src="//cdn.bootcss.com/jquery/2.0.3/jquery.min.js"></script>

    <!--bootstrap js-->
    <script src="//cdn.bootcss.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <title>登陆页面</title>
</head>
<body>
<form action="/login">
    <input type="text" name="name">
    <input type="password" name="password">
    <input type="submit" value="确认">
</form>
</body>
</html>